CORE/CORE-INTERFACES/Connected Services/wsReferenceCuenta/WSCuenta.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="WSCuenta" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost:44362/Servicios/WSCuenta.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://localhost:44362/Servicios/WSCuenta.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://localhost:44362/Servicios/WSCuenta.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWSCuenta_AgregarCuenta_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarCuenta" />
  </wsdl:message>
  <wsdl:message name="IWSCuenta_AgregarCuenta_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarCuentaResponse" />
  </wsdl:message>
  <wsdl:message name="IWSCuenta_EliminarCuenta_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarCuenta" />
  </wsdl:message>
  <wsdl:message name="IWSCuenta_EliminarCuenta_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarCuentaResponse" />
  </wsdl:message>
  <wsdl:message name="IWSCuenta_ActualizarCuenta_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarCuenta" />
  </wsdl:message>
  <wsdl:message name="IWSCuenta_ActualizarCuenta_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarCuentaResponse" />
  </wsdl:message>
  <wsdl:message name="IWSCuenta_MostrarCuenta_InputMessage">
    <wsdl:part name="parameters" element="tns:MostrarCuenta" />
  </wsdl:message>
  <wsdl:message name="IWSCuenta_MostrarCuenta_OutputMessage">
    <wsdl:part name="parameters" element="tns:MostrarCuentaResponse" />
  </wsdl:message>
  <wsdl:message name="IWSCuenta_BuscarCuenta_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCuenta" />
  </wsdl:message>
  <wsdl:message name="IWSCuenta_BuscarCuenta_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCuentaResponse" />
  </wsdl:message>
  <wsdl:portType name="IWSCuenta">
    <wsdl:operation name="AgregarCuenta">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSCuenta/AgregarCuenta" message="tns:IWSCuenta_AgregarCuenta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSCuenta/AgregarCuentaResponse" message="tns:IWSCuenta_AgregarCuenta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarCuenta">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSCuenta/EliminarCuenta" message="tns:IWSCuenta_EliminarCuenta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSCuenta/EliminarCuentaResponse" message="tns:IWSCuenta_EliminarCuenta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarCuenta">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSCuenta/ActualizarCuenta" message="tns:IWSCuenta_ActualizarCuenta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSCuenta/ActualizarCuentaResponse" message="tns:IWSCuenta_ActualizarCuenta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MostrarCuenta">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSCuenta/MostrarCuenta" message="tns:IWSCuenta_MostrarCuenta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSCuenta/MostrarCuentaResponse" message="tns:IWSCuenta_MostrarCuenta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarCuenta">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSCuenta/BuscarCuenta" message="tns:IWSCuenta_BuscarCuenta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSCuenta/BuscarCuentaResponse" message="tns:IWSCuenta_BuscarCuenta_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWSCuenta" type="tns:IWSCuenta">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AgregarCuenta">
      <soap:operation soapAction="http://tempuri.org/IWSCuenta/AgregarCuenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarCuenta">
      <soap:operation soapAction="http://tempuri.org/IWSCuenta/EliminarCuenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarCuenta">
      <soap:operation soapAction="http://tempuri.org/IWSCuenta/ActualizarCuenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostrarCuenta">
      <soap:operation soapAction="http://tempuri.org/IWSCuenta/MostrarCuenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCuenta">
      <soap:operation soapAction="http://tempuri.org/IWSCuenta/BuscarCuenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSCuenta">
    <wsdl:port name="BasicHttpBinding_IWSCuenta" binding="tns:BasicHttpBinding_IWSCuenta">
      <soap:address location="http://localhost:61491/Servicios/WSCuenta.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>