CAJA/CAJA/Web References/localhost/WSCliente.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="WSCliente" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost:44346/Servicios/WSCliente.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://localhost:44346/Servicios/WSCliente.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://localhost:44346/Servicios/WSCliente.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWSCliente_CrearCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearCliente" />
  </wsdl:message>
  <wsdl:message name="IWSCliente_CrearCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IWSCliente_ActualizarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarCliente" />
  </wsdl:message>
  <wsdl:message name="IWSCliente_ActualizarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IWSCliente_EliminarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarCliente" />
  </wsdl:message>
  <wsdl:message name="IWSCliente_EliminarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IWSCliente_MostrarClientes_InputMessage">
    <wsdl:part name="parameters" element="tns:MostrarClientes" />
  </wsdl:message>
  <wsdl:message name="IWSCliente_MostrarClientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:MostrarClientesResponse" />
  </wsdl:message>
  <wsdl:message name="IWSCliente_BuscarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCliente" />
  </wsdl:message>
  <wsdl:message name="IWSCliente_BuscarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="IWSCliente">
    <wsdl:operation name="CrearCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSCliente/CrearCliente" message="tns:IWSCliente_CrearCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSCliente/CrearClienteResponse" message="tns:IWSCliente_CrearCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSCliente/ActualizarCliente" message="tns:IWSCliente_ActualizarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSCliente/ActualizarClienteResponse" message="tns:IWSCliente_ActualizarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSCliente/EliminarCliente" message="tns:IWSCliente_EliminarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSCliente/EliminarClienteResponse" message="tns:IWSCliente_EliminarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MostrarClientes">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSCliente/MostrarClientes" message="tns:IWSCliente_MostrarClientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSCliente/MostrarClientesResponse" message="tns:IWSCliente_MostrarClientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSCliente/BuscarCliente" message="tns:IWSCliente_BuscarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSCliente/BuscarClienteResponse" message="tns:IWSCliente_BuscarCliente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWSCliente" type="tns:IWSCliente">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearCliente">
      <soap:operation soapAction="http://tempuri.org/IWSCliente/CrearCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarCliente">
      <soap:operation soapAction="http://tempuri.org/IWSCliente/ActualizarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarCliente">
      <soap:operation soapAction="http://tempuri.org/IWSCliente/EliminarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostrarClientes">
      <soap:operation soapAction="http://tempuri.org/IWSCliente/MostrarClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCliente">
      <soap:operation soapAction="http://tempuri.org/IWSCliente/BuscarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSCliente">
    <wsdl:port name="BasicHttpBinding_IWSCliente" binding="tns:BasicHttpBinding_IWSCliente">
      <soap:address location="http://localhost:53368/Servicios/WSCliente.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>