CORE/CORE-INTERFACES/Connected Services/wsReferenceCliente/WSCliente.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="WSCliente" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost:44362/Servicios/WSCliente.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://localhost:44362/Servicios/WSCliente.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWSCliente_AgregarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarCliente" />
  </wsdl:message>
  <wsdl:message name="IWSCliente_AgregarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IWSCliente_EliminarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarCliente" />
  </wsdl:message>
  <wsdl:message name="IWSCliente_EliminarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IWSCliente_ModificarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarCliente" />
  </wsdl:message>
  <wsdl:message name="IWSCliente_ModificarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IWSCliente_MostrarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:MostrarCliente" />
  </wsdl:message>
  <wsdl:message name="IWSCliente_MostrarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:MostrarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IWSCliente_BuscarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCliente" />
  </wsdl:message>
  <wsdl:message name="IWSCliente_BuscarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="IWSCliente">
    <wsdl:operation name="AgregarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSCliente/AgregarCliente" message="tns:IWSCliente_AgregarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSCliente/AgregarClienteResponse" message="tns:IWSCliente_AgregarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSCliente/EliminarCliente" message="tns:IWSCliente_EliminarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSCliente/EliminarClienteResponse" message="tns:IWSCliente_EliminarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSCliente/ModificarCliente" message="tns:IWSCliente_ModificarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSCliente/ModificarClienteResponse" message="tns:IWSCliente_ModificarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MostrarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSCliente/MostrarCliente" message="tns:IWSCliente_MostrarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSCliente/MostrarClienteResponse" message="tns:IWSCliente_MostrarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSCliente/BuscarCliente" message="tns:IWSCliente_BuscarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSCliente/BuscarClienteResponse" message="tns:IWSCliente_BuscarCliente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWSCliente" type="tns:IWSCliente">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AgregarCliente">
      <soap:operation soapAction="http://tempuri.org/IWSCliente/AgregarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarCliente">
      <soap:operation soapAction="http://tempuri.org/IWSCliente/EliminarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarCliente">
      <soap:operation soapAction="http://tempuri.org/IWSCliente/ModificarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostrarCliente">
      <soap:operation soapAction="http://tempuri.org/IWSCliente/MostrarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCliente">
      <soap:operation soapAction="http://tempuri.org/IWSCliente/BuscarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSCliente">
    <wsdl:port name="BasicHttpBinding_IWSCliente" binding="tns:BasicHttpBinding_IWSCliente">
      <soap:address location="http://localhost:61491/Servicios/WSCliente.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>