CORE/CORE-INTERFACES/Connected Services/wsReferenceUsuario/WSUsuario1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="WSUsuario" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost:44346/Servicios/WSUsuario.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://localhost:44346/Servicios/WSUsuario.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://localhost:44346/Servicios/WSUsuario.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWSUsuario_CrearUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearUsuario" />
  </wsdl:message>
  <wsdl:message name="IWSUsuario_CrearUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IWSUsuario_EliminarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarUsuario" />
  </wsdl:message>
  <wsdl:message name="IWSUsuario_EliminarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IWSUsuario_ActualizarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarUsuario" />
  </wsdl:message>
  <wsdl:message name="IWSUsuario_ActualizarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IWSUsuario_ValidarSesion_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarSesion" />
  </wsdl:message>
  <wsdl:message name="IWSUsuario_ValidarSesion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarSesionResponse" />
  </wsdl:message>
  <wsdl:message name="IWSUsuario_MostrarUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:MostrarUsuarios" />
  </wsdl:message>
  <wsdl:message name="IWSUsuario_MostrarUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:MostrarUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="IWSUsuario_BuscarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarUsuario" />
  </wsdl:message>
  <wsdl:message name="IWSUsuario_BuscarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IWSUsuario">
    <wsdl:operation name="CrearUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSUsuario/CrearUsuario" message="tns:IWSUsuario_CrearUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSUsuario/CrearUsuarioResponse" message="tns:IWSUsuario_CrearUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSUsuario/EliminarUsuario" message="tns:IWSUsuario_EliminarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSUsuario/EliminarUsuarioResponse" message="tns:IWSUsuario_EliminarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSUsuario/ActualizarUsuario" message="tns:IWSUsuario_ActualizarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSUsuario/ActualizarUsuarioResponse" message="tns:IWSUsuario_ActualizarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarSesion">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSUsuario/ValidarSesion" message="tns:IWSUsuario_ValidarSesion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSUsuario/ValidarSesionResponse" message="tns:IWSUsuario_ValidarSesion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MostrarUsuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSUsuario/MostrarUsuarios" message="tns:IWSUsuario_MostrarUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSUsuario/MostrarUsuariosResponse" message="tns:IWSUsuario_MostrarUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSUsuario/BuscarUsuario" message="tns:IWSUsuario_BuscarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSUsuario/BuscarUsuarioResponse" message="tns:IWSUsuario_BuscarUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWSUsuario" type="tns:IWSUsuario">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearUsuario">
      <soap:operation soapAction="http://tempuri.org/IWSUsuario/CrearUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuario">
      <soap:operation soapAction="http://tempuri.org/IWSUsuario/EliminarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarUsuario">
      <soap:operation soapAction="http://tempuri.org/IWSUsuario/ActualizarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarSesion">
      <soap:operation soapAction="http://tempuri.org/IWSUsuario/ValidarSesion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostrarUsuarios">
      <soap:operation soapAction="http://tempuri.org/IWSUsuario/MostrarUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarUsuario">
      <soap:operation soapAction="http://tempuri.org/IWSUsuario/BuscarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSUsuario">
    <wsdl:port name="BasicHttpBinding_IWSUsuario" binding="tns:BasicHttpBinding_IWSUsuario">
      <soap:address location="http://localhost:53368/Servicios/WSUsuario.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>