CORE/CORE-INTERFACES/Connected Services/wsReferencePrestamo/WSPrestamo31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:44346/Servicios/WSPrestamo.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CoreServices" />
  <xs:element name="CrearPrestamo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCuenta" type="xs:int" />
        <xs:element minOccurs="0" name="tasa" type="xs:decimal" />
        <xs:element minOccurs="0" name="montoOriginal" type="xs:decimal" />
        <xs:element minOccurs="0" name="montoActual" type="xs:decimal" />
        <xs:element minOccurs="0" name="fechaCorte" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearPrestamoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearPrestamoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarPrestamo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarPrestamoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarPrestamoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarPrestamo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPrestamo" type="xs:int" />
        <xs:element minOccurs="0" name="idCuenta" type="xs:int" />
        <xs:element minOccurs="0" name="tasa" type="xs:decimal" />
        <xs:element minOccurs="0" name="montoOriginal" type="xs:decimal" />
        <xs:element minOccurs="0" name="montoActual" type="xs:decimal" />
        <xs:element minOccurs="0" name="fechaCorte" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarPrestamoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarPrestamoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MostrarPrestamos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MostrarPrestamosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CoreServices" minOccurs="0" name="MostrarPrestamosResult" nillable="true" type="q1:ArrayOfPrestamo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>