CAJA/CAJA/Connected Services/CuentaTest/WSCuenta1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CoreServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CoreServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCuenta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cuenta" nillable="true" type="tns:Cuenta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCuenta" nillable="true" type="tns:ArrayOfCuenta" />
  <xs:complexType name="Cuenta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Balance" type="xs:decimal" />
      <xs:element minOccurs="0" name="Banco" nillable="true" type="tns:Banco" />
      <xs:element minOccurs="0" name="Cliente" nillable="true" type="tns:Cliente" />
      <xs:element minOccurs="0" name="Cuenta_Beneficiario" nillable="true" type="tns:ArrayOfCuenta_Beneficiario" />
      <xs:element minOccurs="0" name="Estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="FechaIngreso" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Movimiento" nillable="true" type="tns:ArrayOfMovimiento" />
      <xs:element minOccurs="0" name="NumeroCuenta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prestamo" nillable="true" type="tns:ArrayOfPrestamo" />
      <xs:element minOccurs="0" name="TipoCuenta" nillable="true" type="tns:TipoCuenta" />
      <xs:element minOccurs="0" name="Transaccion" nillable="true" type="tns:ArrayOfTransaccion" />
      <xs:element minOccurs="0" name="idBanco" type="xs:int" />
      <xs:element minOccurs="0" name="idCliente" type="xs:int" />
      <xs:element minOccurs="0" name="idCuenta" type="xs:int" />
      <xs:element minOccurs="0" name="idTipoCuenta" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cuenta" nillable="true" type="tns:Cuenta" />
  <xs:complexType name="Banco">
    <xs:sequence>
      <xs:element minOccurs="0" name="Beneficiario" nillable="true" type="tns:ArrayOfBeneficiario" />
      <xs:element minOccurs="0" name="Cuenta" nillable="true" type="tns:ArrayOfCuenta" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaIngreso" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idBanco" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Banco" nillable="true" type="tns:Banco" />
  <xs:complexType name="ArrayOfBeneficiario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Beneficiario" nillable="true" type="tns:Beneficiario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBeneficiario" nillable="true" type="tns:ArrayOfBeneficiario" />
  <xs:complexType name="Beneficiario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Banco" nillable="true" type="tns:Banco" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cuenta_Beneficiario" nillable="true" type="tns:ArrayOfCuenta_Beneficiario" />
      <xs:element minOccurs="0" name="Documento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaIngreso" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TipoDocumento" type="xs:int" />
      <xs:element minOccurs="0" name="Transaccion" nillable="true" type="tns:ArrayOfTransaccion" />
      <xs:element minOccurs="0" name="idBanco" type="xs:int" />
      <xs:element minOccurs="0" name="idBeneficiario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Beneficiario" nillable="true" type="tns:Beneficiario" />
  <xs:complexType name="ArrayOfCuenta_Beneficiario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cuenta_Beneficiario" nillable="true" type="tns:Cuenta_Beneficiario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCuenta_Beneficiario" nillable="true" type="tns:ArrayOfCuenta_Beneficiario" />
  <xs:complexType name="Cuenta_Beneficiario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Beneficiario" nillable="true" type="tns:Beneficiario" />
      <xs:element minOccurs="0" name="Cuenta" nillable="true" type="tns:Cuenta" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaIngreso" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idBeneficiario" type="xs:int" />
      <xs:element minOccurs="0" name="idCuenta" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cuenta_Beneficiario" nillable="true" type="tns:Cuenta_Beneficiario" />
  <xs:complexType name="ArrayOfTransaccion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Transaccion" nillable="true" type="tns:Transaccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransaccion" nillable="true" type="tns:ArrayOfTransaccion" />
  <xs:complexType name="Transaccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Beneficiario" nillable="true" type="tns:Beneficiario" />
      <xs:element minOccurs="0" name="Cuenta" nillable="true" type="tns:Cuenta" />
      <xs:element minOccurs="0" name="CuentaDestino" type="xs:int" />
      <xs:element minOccurs="0" name="CuentaOrigen" type="xs:int" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="tns:Estado" />
      <xs:element minOccurs="0" name="FechaIngreso" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Moneda" nillable="true" type="tns:Moneda" />
      <xs:element minOccurs="0" name="Monto" type="xs:decimal" />
      <xs:element minOccurs="0" name="Movimiento" nillable="true" type="tns:ArrayOfMovimiento" />
      <xs:element minOccurs="0" name="TipoTransaccion" nillable="true" type="tns:TipoTransaccion" />
      <xs:element minOccurs="0" name="idEstado" type="xs:int" />
      <xs:element minOccurs="0" name="idMoneda" type="xs:int" />
      <xs:element minOccurs="0" name="idTipo" type="xs:int" />
      <xs:element minOccurs="0" name="idTransaccion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Transaccion" nillable="true" type="tns:Transaccion" />
  <xs:complexType name="Estado">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Detalle_Prestamo" nillable="true" type="tns:ArrayOfDetalle_Prestamo" />
      <xs:element minOccurs="0" name="FechaIngreso" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Transaccion" nillable="true" type="tns:ArrayOfTransaccion" />
      <xs:element minOccurs="0" name="idEstado" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Estado" nillable="true" type="tns:Estado" />
  <xs:complexType name="ArrayOfDetalle_Prestamo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Detalle_Prestamo" nillable="true" type="tns:Detalle_Prestamo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDetalle_Prestamo" nillable="true" type="tns:ArrayOfDetalle_Prestamo" />
  <xs:complexType name="Detalle_Prestamo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CapitalAmortizado" type="xs:decimal" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="tns:Estado" />
      <xs:element minOccurs="0" name="FechaIngreso" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaPago" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaVencimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InteresesGenerados" type="xs:decimal" />
      <xs:element minOccurs="0" name="MontoPago" type="xs:decimal" />
      <xs:element minOccurs="0" name="Prestamo" nillable="true" type="tns:Prestamo" />
      <xs:element minOccurs="0" name="SaldoPendiente" type="xs:decimal" />
      <xs:element minOccurs="0" name="idDetallePrestamo" type="xs:int" />
      <xs:element minOccurs="0" name="idEstado" type="xs:int" />
      <xs:element minOccurs="0" name="idPrestamo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Detalle_Prestamo" nillable="true" type="tns:Detalle_Prestamo" />
  <xs:complexType name="Prestamo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cuenta" nillable="true" type="tns:Cuenta" />
      <xs:element minOccurs="0" name="Detalle_Prestamo" nillable="true" type="tns:ArrayOfDetalle_Prestamo" />
      <xs:element minOccurs="0" name="FechaCorte" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaIngreso" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MontoActual" type="xs:decimal" />
      <xs:element minOccurs="0" name="MontoOriginal" type="xs:decimal" />
      <xs:element minOccurs="0" name="Tasa" type="xs:decimal" />
      <xs:element minOccurs="0" name="idCuenta" type="xs:int" />
      <xs:element minOccurs="0" name="idPrestamo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Prestamo" nillable="true" type="tns:Prestamo" />
  <xs:complexType name="Moneda">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaIngreso" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Transaccion" nillable="true" type="tns:ArrayOfTransaccion" />
      <xs:element minOccurs="0" name="idMoneda" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Moneda" nillable="true" type="tns:Moneda" />
  <xs:complexType name="ArrayOfMovimiento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Movimiento" nillable="true" type="tns:Movimiento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMovimiento" nillable="true" type="tns:ArrayOfMovimiento" />
  <xs:complexType name="Movimiento">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cuenta" nillable="true" type="tns:Cuenta" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaIngreso" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Monto" type="xs:decimal" />
      <xs:element minOccurs="0" name="Transaccion" nillable="true" type="tns:Transaccion" />
      <xs:element minOccurs="0" name="idCuenta" type="xs:int" />
      <xs:element minOccurs="0" name="idMovimiento" type="xs:int" />
      <xs:element minOccurs="0" name="idTransaccion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Movimiento" nillable="true" type="tns:Movimiento" />
  <xs:complexType name="TipoTransaccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaIngreso" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Transaccion" nillable="true" type="tns:ArrayOfTransaccion" />
      <xs:element minOccurs="0" name="idTipo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoTransaccion" nillable="true" type="tns:TipoTransaccion" />
  <xs:complexType name="Cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cuenta" nillable="true" type="tns:ArrayOfCuenta" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Documento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaIngreso" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaNacimiento" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoDocumento" type="xs:int" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="tns:ArrayOfUsuario" />
      <xs:element minOccurs="0" name="idCliente" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cliente" nillable="true" type="tns:Cliente" />
  <xs:complexType name="ArrayOfUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuario" nillable="true" type="tns:ArrayOfUsuario" />
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Clave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cliente" nillable="true" type="tns:Cliente" />
      <xs:element minOccurs="0" name="FechaIngreso" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Perfil" nillable="true" type="tns:Perfil" />
      <xs:element minOccurs="0" name="idCliente" type="xs:int" />
      <xs:element minOccurs="0" name="idPerfil" type="xs:int" />
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="Perfil">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaIngreso" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Perfil_Rol" nillable="true" type="tns:ArrayOfPerfil_Rol" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="tns:ArrayOfUsuario" />
      <xs:element minOccurs="0" name="idPerfil" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Perfil" nillable="true" type="tns:Perfil" />
  <xs:complexType name="ArrayOfPerfil_Rol">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Perfil_Rol" nillable="true" type="tns:Perfil_Rol" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPerfil_Rol" nillable="true" type="tns:ArrayOfPerfil_Rol" />
  <xs:complexType name="Perfil_Rol">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaIngreso" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Perfil" nillable="true" type="tns:Perfil" />
      <xs:element minOccurs="0" name="Rol" nillable="true" type="tns:Rol" />
      <xs:element minOccurs="0" name="idPerfil" type="xs:int" />
      <xs:element minOccurs="0" name="idRol" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Perfil_Rol" nillable="true" type="tns:Perfil_Rol" />
  <xs:complexType name="Rol">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaIngreso" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Perfil_Rol" nillable="true" type="tns:ArrayOfPerfil_Rol" />
      <xs:element minOccurs="0" name="idRol" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rol" nillable="true" type="tns:Rol" />
  <xs:complexType name="ArrayOfPrestamo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Prestamo" nillable="true" type="tns:Prestamo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPrestamo" nillable="true" type="tns:ArrayOfPrestamo" />
  <xs:complexType name="TipoCuenta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cuenta" nillable="true" type="tns:ArrayOfCuenta" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaIngreso" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idTipoCuenta" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoCuenta" nillable="true" type="tns:TipoCuenta" />
</xs:schema>