CORE/Prueba_Servicios/Connected Services/Clientes/WSClientes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="WSClientes" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost:44362/Servicios/WSClientes.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://localhost:44362/Servicios/WSClientes.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://localhost:44362/Servicios/WSClientes.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWSClientes_AgregarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarCliente" />
  </wsdl:message>
  <wsdl:message name="IWSClientes_AgregarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IWSClientes_EliminarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarCliente" />
  </wsdl:message>
  <wsdl:message name="IWSClientes_EliminarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IWSClientes_ActualizarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarCliente" />
  </wsdl:message>
  <wsdl:message name="IWSClientes_ActualizarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IWSClientes_MostrarClientes_InputMessage">
    <wsdl:part name="parameters" element="tns:MostrarClientes" />
  </wsdl:message>
  <wsdl:message name="IWSClientes_MostrarClientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:MostrarClientesResponse" />
  </wsdl:message>
  <wsdl:portType name="IWSClientes">
    <wsdl:operation name="AgregarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSClientes/AgregarCliente" message="tns:IWSClientes_AgregarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSClientes/AgregarClienteResponse" message="tns:IWSClientes_AgregarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSClientes/EliminarCliente" message="tns:IWSClientes_EliminarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSClientes/EliminarClienteResponse" message="tns:IWSClientes_EliminarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSClientes/ActualizarCliente" message="tns:IWSClientes_ActualizarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSClientes/ActualizarClienteResponse" message="tns:IWSClientes_ActualizarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MostrarClientes">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSClientes/MostrarClientes" message="tns:IWSClientes_MostrarClientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSClientes/MostrarClientesResponse" message="tns:IWSClientes_MostrarClientes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWSClientes" type="tns:IWSClientes">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AgregarCliente">
      <soap:operation soapAction="http://tempuri.org/IWSClientes/AgregarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarCliente">
      <soap:operation soapAction="http://tempuri.org/IWSClientes/EliminarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarCliente">
      <soap:operation soapAction="http://tempuri.org/IWSClientes/ActualizarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostrarClientes">
      <soap:operation soapAction="http://tempuri.org/IWSClientes/MostrarClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSClientes">
    <wsdl:port name="BasicHttpBinding_IWSClientes" binding="tns:BasicHttpBinding_IWSClientes">
      <soap:address location="http://localhost:61491/Servicios/WSClientes.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>